@model Deborah.Models.Mst_User;

<h5 class="page_title">ユーザ更新</h5>
<br>
<p class="error_msg">@ViewBag.error</p>
@if (@ViewBag.yourself != false)
{
    <span>※下記ユーザでログインしないとユーザ情報の変更はできません。</span>
}
<form method=post action="/User/Update">
    <table class="new_form">
        <tr class="new_row">
            <th class="new_title">ID</th>
            <td>
                <input type="text" asp-for="Id" size=30 readonly=true>
                　※更新不可能
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">ユーザ名</th>
            <td>
                <span asp-validation-for="User_Name" class="text-danger"></span>
                <input type="text" asp-for="User_Name" asp-validation-for="User_Name" size=50 readonly=@ViewBag.yourself required>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">ホスト名</th>
            <td>
                <input type="text" asp-for="Hostname" asp-validation-for="Hostname" size=50 maxlength="20" readonly=@ViewBag.yourself required>
                　IPアドレスも可
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">パスワード</th>
            <td>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="Password" asp-validation-for="Password" size=50 maxlength="12" readonly=@ViewBag.yourself required>
            </td>
        </tr>
    </table><br>
    @if (@ViewBag.yourself == false)
    {
        <button type="submit" class="submit_btn">
            <img src="../images/edit.png" width=22px style="margin-right: 3px;">
            更新
        </button>
    }
</form>
<a asp-controller="User" asp-action="Index" class="bk_btn">
    <img src="../images/back.png" width=22px style="margin-right: 3px;">
        戻る
</a>
