@model Deborah.Models.Mst_User;

<h5 class="page_title">ユーザ新規登録</h5>
<br>
<p class="error_msg">@ViewBag.error</p>
<form method=post action="/User/Registrate">
    <table class="new_form">
        <tr class="new_row">
            <th class="new_title">ユーザ名</th>
            <td>
                <span asp-validation-for="User_Name" class="text-danger"></span>
                <input type="text" asp-for="User_Name" asp-validation-for="User_Name" size=50 maxlength="10" required>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">ホスト名</th>
            <td>
                <input type="text" asp-for="Hostname" asp-validation-for="Hostname" size=50 maxlength="20" required>
                　IPアドレスも可
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">ログインID</th>
            <td>
                <span asp-validation-for="Login_Id" class="text-danger"></span>
                <input type="text" asp-for="Login_Id" asp-validation-for="Login_Id" size=50 maxlength="10" required>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">パスワード</th>
            <td>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="Password" asp-validation-for="Password" size=50 maxlength="12" required>
            </td>
        </tr>
    </table><br>
    <input type='hidden' asp-for='DisconnectableFlag' value="true">
    <button type="submit" class="submit_btn">
        <img src="../images/touroku.png" width=22px style="margin-right: 3px;">
        登録
    </button>
</form>
<a asp-controller="User" asp-action="Index" class="bk_btn">
    <img src="../images/back.png" width=22px style="margin-right: 3px;">
        戻る
</a>
