@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">ようこそ、DeborahCallへ</h2><br>

    <br><p>本システムはMicrosoftのASP.NET COREとプログラミング言語C#を用いて作成しております。<br><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
