@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">ようこそ、DeborahCallへ</h2><br>
    <p>DeborahCallは、CaptainDeborah、DeborahDisplayから渡ってきた問い合わせの最終登録をするためのシステムです。</p>
    <br>
    <p>まず初めにシステム管理者に連絡しユーザ登録をしてもらってください。</p>
    </p>
    <br><p>本システムはMicrosoftのASP.NET COREとプログラミング言語C#を用いて作成しております。<br><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <p>Deborahシリーズは、「CaptainDeborah」、「Deborah-Display」、「DeborahCall」の３つのシステムからなる、簡易CTIシステムです。</p>

</div>
