<div class="contents">
    <div class="login-form">
        <form method="post" action="/Top/Create">

            <p class="error_msg">@ViewBag.error</p>

            <input type="text" name="username" size="40" placeholder=" Login ID" class="login_form"><br><br>
            <input type="password" name="password" size="40" placeholder=" Password" class="login_form"><br><br>
            <input type="submit" value="LOGIN" class="login_btn">
        </form>
    </div>
</div>