@model IEnumerable<Deborah.Models.Tra_Entry>
<p>未登録お知らせが○○件あります</p>

<table class="table table-bordered table-sm table-font">
    <tr class="heading">
        <th>会社名</th>
        <th>担当者名</th>
        <th>電話番号</th>
        <th>着信時間</th>
        <th>終了時間</th>
        <th>選択</th>
    </tr>
    <tr class="table_back">
        <td style="text-align:center;">テスト会社</td>
        <td style="text-align:center;">テスト</td>
        <td style="text-align:center;">000-0000-0000</td>
        <td style="text-align:center;">10/1 10:00</td>
        <td style="text-align:center;">10/1 10:05</td>
        <td style="text-align:center;"><input type="button" value="SELECT" class="select_btn"></td>
    </tr>
    <tr class="table_back">
        <td style="text-align:center;">テスト会社</td>
        <td style="text-align:center;">テスト</td>
        <td style="text-align:center;">000-0000-0000</td>
        <td style="text-align:center;">10/1 10:00</td>
        <td style="text-align:center;">10/1 10:05</td>
        <td style="text-align:center;"><input type="button" value="SELECT" class="select_btn"></td>
    </tr>
</table>