@model IEnumerable<Inqury.Models.Entry>

<h5 class="page_title">トップ画面</h5><br>

@if (ViewBag.cnt == 0)
{
    <p>未登録のお問合せはありません。</p>
}
else
{
    <p style="color:#dc143c;font-weight:bold;">未登録のお問合せがあります。</p>
}
<partial name="../Shared/_errors.cshtml" />
<table class="table table-bordered table-sm table-font" style="text-align:center;">
    <tr class="heading">
        <th style="width:250px;">会社名</th>
        <th>担当者名</th>
        <th style="width:150px;">電話番号</th>
        <th style="width:170px;">着信時刻</th>
        <th style="width:170px;">終了時刻</th>
        <th style="width:130px;">操作</th>
    </tr>

    @await Html.PartialAsync("_Menu_List.cshtml")

</table>