@model IEnumerable<Inqury.Models.Entry>

<h5 class="page_title">トップ画面</h5><br>

@if (ViewBag.cnt == 0)
{
    <p>未登録のお問合せはありません。</p>
}
else
{
    <p>未登録のお問合せがあります。</p>
}
<table class="table table-bordered table-sm table-font" style="text-align:center;">
    <tr class="heading">
        <th>会社名</th>
        <th>担当者名</th>
        <th>電話番号</th>
        <th>着信時刻</th>
        <th>終了時刻</th>
        <th>登録</th>
    </tr>

    @await Html.PartialAsync("_Menu_List.cshtml")

</table>