/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.login_btn {
  width: 377px;
  background-color: #e9bc00;
  border: none;
  height: 33px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.login_btn:hover {
  opacity: 0.8;
}

.select_btn {
  background-color: #79c06e;
  color: white;
  border: none;
  padding: 3px 7px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow:2px 2px 2px #555;
}

.select_btn:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

.new_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65ab31;
  padding: 6px 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 105px;
  box-shadow:2px 2px 2px #777;
}

.new_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.search_btn {
  background-color: #bb5535;
  padding: 3px 3px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  width: 80px;
  border: none;
}

.search_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.edit_btn {
  background-color: #c5a05a;
  color: white;
  border: none;
  font-size: 15px;
  padding: 2px 9px;
  height: 25px;
  border-radius: 3px;
  box-shadow:2px 2px 2px #777;
  text-decoration: none;
}

.edit_btn:hover {
  color: white;
  background-color: #0068b7;
  text-decoration: none;
}

.show_btn {
  background-color: #c5a05a;
  color: white;
  border: none;
  font-size: 15px;
  width: 50px;
  height: 25px;
  padding: 2px 9px;
  border-radius: 3px;
  box-shadow:2px 2px 2px #777;
  text-decoration: none;
}

.show_btn:hover {
  color: white;
  background-color: #0068b7;
  text-decoration: none;
}

.copy_btn {
  background-color: #c5a05a;
  color: white;
  border: none;
  font-size: 15px;
  width: 50px;
  padding: 2px 9px;
  height: 25px;
  border-radius: 3px;
  box-shadow:2px 2px 2px #777;
  text-decoration: none;
}

.copy_btn:hover {
  color: white;
  background-color: #0068b7;
  text-decoration: none;
}


.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a52a2a;
  padding: 5px 9px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 130px;
  margin-left: auto;
  border: none;
  margin-right: 30px;
  margin-bottom: 15px;
  box-shadow:2px 2px 2px #555;
}

.submit_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.bk_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #696969;
  padding: 5px 7px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 130px;
  margin-left: auto;
  margin-right: 30px;
  box-shadow:2px 2px 2px #555;
}

.bk_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.relation_btn {
  background-color: #9cbb1c;
  color: white;
  border: none;
  font-size: 15px;
  width: 90px;
  padding: 2px 9px;
  height: 30px;
  box-shadow:2px 2px 2px #777;
  text-decoration: none;
}

.relation_btn:hover {
  opacity: 0.8;
}


.dl_e_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65ab31;
  padding: 6px 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 150px;
  box-shadow:2px 2px 2px #777;
}

.dl_e_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}


.dl_c_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65ab31;
  padding: 6px 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 150px;
  box-shadow:2px 2px 2px #777;
}

.dl_c_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.next {
  text-decoration: none;
  color: white;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 60px;
  background-color: #7b8d42;
}
.next:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #0068b7;
}