/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.login-form {
  text-align: center;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #c49a6a;
}





.error_msg {
  width: 100%;
}

.theme_color {
  background-color: #d2691e;
}


.table-font {
  font-size: 15px;
}

.table_width {
  table-layout:fixed;
  width: 100%;
}

.page_title {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #f5f5f5;/*背景色*/
  border-left: solid 5px #bb5535;/*左線（実線 太さ 色）*/
}



/* 登録フォーム用 */
.new_form {
  width: 100%;
  border-collapse: collapse;
}

.new_form tr{
  border-bottom: solid 1px white;
}

.new_form tr:last-child{
  border-bottom: none;
}

.new_form th{
  position: relative;
  text-align: left;
  width: 20%;
  background-color: #946c45;
  color: white;
  text-align: center;
}

.new_form th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #946c45;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.new_form td{
  text-align: left;
  width: 70%;
  background-color: #eee;
  padding: 10px 40px;
}

.heading {
  background-color: #946c45;
  color: white;
  text-align: center;
}

.table_back {
  background-color: #eee;
}

/* 検索エリア */
.search_area {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.btn_line {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.centering {
  width: 500px;
  margin-left: auto;
  padding-right: 20px;
}

.pager {
  width: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

/*----------------------------*/

.error_msg {
  color: #ed6d35;
}

.title_line {
  padding-left: 30px;
  width: 100%;
  padding-bottom: .5em;
  border-bottom: 3px double #ccc;
}




.navbar-nav * {
  box-sizing: border-box;
}
.navbar-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.navbar-nav a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.navbar-nav a:before,
.navbar-nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar-nav a:before {
  bottom: 0;
  display: block;
  height: 1.3px;
  width: 0%;
  left:0;
  content: "";
  background-color: #d3d3d3;
}

.navbar-nav a:hover:before,
.navbar-nav .current a:before {
  opacity: 1;
  width: 100%;
}
.navbar-nav a:hover:after,
.navbar-nav .current a:after {
  max-width: 100%;
}
