/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  text-align: center;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  border: solid 1px black;
}



.error_msg {
  width: 100%;
}

.theme_color {
  background-color: #d2691e;
}

table {
  width: 100%;
  border-spacing: 0;
}

table th {
  border-bottom: solid 2px #fb5144;
  padding: 5px 0;
}

table td {
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 5px 0;
}

.page_title {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #f5f5f5;/*背景色*/
  border-left: solid 5px #8b4513;/*左線（実線 太さ 色）*/
}